<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Con Sazon</title>

     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container m-5">
        <div class="row">
            <div class="col-10">
                <h1 class="display-6">Let's add to your Meal Plan</h1>
            </div>
        </div>
        <main class="row my-5 gx-5">                    
            <!-- add If to handle no unconfirmed plan -> create plan button -->
            <% if (Array.isArray(mealPlan)){ %>
                <div class="col-8">
                    <p class="h1">You have a confirmed meal plan!</p>
                    <p>Either create a new plan or go to the <span><a href="/dashboard">Dashboard</a></span> <wbr>to view your existing plan.</p>
                    <div>
                        <form class='unstyled' action="/dashboard/meal-plan/create" method="POST">
                            <button type="submit" class="btn btn-secondary">Create a meal plan</button>
                        </form>
                    </div>
                </div>
            <% } else{ %>
            <!-- sidebar -->
            <section class="col-4 border rounded ">
                <div class="row justify-content-center">
                    <p><%= msg %></p>
                </div>
                <div class="row justify-content-center">
                        <% if(mealPlan.week.length === 0) { %>
                            <div>
                                <p class="text-muted">No selections yet!</p>
                                <p class="text-muted">Click the plus sign (+) to add recipes</p>
                            </div>
                        <% } else{ %>
                            <% for (let meal of mealPlan.week) { %>
                                <article class="col-5">
                                    <div>
                                        <!-- change path to mealPlanActive single page -->
                                        <a href="/dashboard/meal-plan/<%= meal._id %>"><img class="img-fluid border border-light rounded" src="<%= meal.image %>" alt="image of recipe"></a>
                                    </div>
                                    <div>
                                        <form name="removeFromMealPlan" action="/dashboard/meal-plan/<%=meal._id%>/remove?_method=PATCH" method="post">
                                            <button class="btn btn-sm" type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                    <h3 class="h6" data-id="<%= meal._id %>"><%= meal.recipeName %></h3>
                                    <p class="text-muted small"><%= meal.author %></p>
                                </article>
                                <% } %>
                                <!-- meal plan confirmation -->                           
                                <div>
                                    <form name="confirmMealPlan" action="/dashboard/meal-plan/<%= mealPlan._id %>/confirm?_method=PATCH" method="post">
                                        <button class="btn btn-sm btn-outline-success" type="submit">Confirm Selections</button>
                                    </form>
                                </div>                            
                        <% } %>
                    </div>
                </section>
                <!-- main -->
                <section class="col-8">
                    <div class="row gx-5">
                        <!-- All recipes -->
                        <% for (let recipe of recipes) { %>
                            <div class="col-4">
                                <div>
                                    <!-- change path to mealPlanActive single page -->
                                    <a href="/dashboard/meal-plan/<%= recipe._id %>"><img class="img-fluid border border-light rounded" src="<%= recipe.image %>" alt="image of recipe"></a>
                                </div>
                                
                                <form name="addToMealPlan" action="/dashboard/meal-plan/<%=recipe._id%>/add?_method=PATCH" method="post">
                                    <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-plus"></i></button>
                                </form>
                                
                            <h3 data-id="<%= recipe._id %>"><%= recipe.recipeName %></h3>
                            <p><%= recipe.author %></p>
                        </div>
                    <% }  %>
                </div>
            </section>
            <% } %>
        </main>      
    </div>
    <%- include('../partials/footer') -%>
</body>
</html>