<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Con Sazon | All Recipes</title>

     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="container m-5">
        <h1>All Recipes</h1>
        <section class="content my-5">
            
            <div class="meal-plan-sidebar">
                <p><%= msg %></p>
                <h4 class="display-3">Let's add to your Meal Plan</h4>
            </div>
            
            <div class="row gx-5">
                <% for (let recipe of recipes) { %>
                    <div class="col-3">
                        <div>
                            <a href="/recipes/<%= recipe.path %>"><img class="img-fluid" src="<%= recipe.image %>" alt="image of recipe"></a>
                        </div>
                        
                        <form name="addToMealPlan" action="/dashboard/meal-plan/<%=recipe._id%>/add?_method=PATCH" method="post">
                            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
                        </form>
                        
                        <h3 data-id="<%= recipe._id %>"><%= recipe.recipeName %></h3>
                        <p><%= recipe.author %></p>
                    </div>
                <% }  %>
            </div>
        </section>
    </div>
    <%- include('../partials/footer') -%>
</body>
</html>