<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Con Sazon</title>

     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="container my-5">
        <h1 class="display-6">Your Meal Plan Selections</h1>
        <main class="row my-3 justify-content-center">
            <!-- sidebar -->
            <section class="col-10 border rounded d-flex flex-column flex-sm-row">
                <section class="col-6">
                    <div class="row justify-content-center">
                        <%- include("../partials/flash.ejs") %>
                    </div>
                    <div class="row justify-content-center">
                        <!-- How to handle a confirmed meal plan? -->
                            <% if(mealPlan.week.length === 0) { %>
                                <div>
                                    <p class="text-muted">No selections yet!</p>
                                    <p class="text-muted">Click the plus sign (+) to add recipes</p>
                                </div>
                            <% } else{ %>
                                <% for (let meal of mealPlan.week) { %>
                                    <article class="col-5">
                                        <div>
                                            <!-- change path to mealPlanActive single page -->
                                            <a href="/dashboard/meal-plan/<%= meal._id %>"><img class="img-fluid border border-light rounded" src="<%= meal.image %>" alt="image of recipe"></a>
                                        </div>                                        
                                        <h3 class="h6" data-id="<%= meal._id %>"><%= meal.recipeName %></h3>
                                        <p class="text-muted small"><%= meal.author %></p>
                                    </article>
                                    <% } %>                                    
                            <% } %>
                    </div>
                </section>
                <% if(mealPlan.week.length > 0){ %>
                    <section class="col-6">
                        <h2>Shopping List</h2>
                        <!-- REFACTOR to only return what's needed from the database, instead of this slow nested loop -->
                    <% for (item in shoppingList){ %>
                        <p class="d-flex flex-row justify-content-between"><span><%= item %></span><span class=""><%= shoppingList[item] %></span></p>
                        
                    <% } %>
                        <!-- <p><span><%= %></span></p> -->
                    </section>
                <% } %>
            </section>
        </main>      
    </div>
    <%- include('../partials/footer') -%>
</body>
</html>