<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Con Sazon</title>

     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container ">
        <main class="content my-5">
            <div class="row justify-content-center d-flex flex-column flex-sm-row">                    
                    <div class="col-10 col-sm-6">
                        <div class="image">
                            <img class="img-fluid" src="<%= singleRecipe.image %>" alt="image of recipe">
                        </div>
                    </div>  
                    <div class="col-10 col-sm-6">
                        <h1 data-id="<%= singleRecipe._id %>" class='display-6'><%= singleRecipe.recipeName %></h1>
                        <p>by: <%= singleRecipe.author %></p>
                        <div class="row">
                            <!-- Add / Favorite / Print -->
                            <span>
                                <form class="d-inline-block" name="addToMealPlan" action="/dashboard/meal-plan/<%=singleRecipe._id%>/add?_method=PATCH" method="post">
                                    <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fas fa-plus"></i></button>
                                </form>
                            </span>
                            <span>
                                <a href="/dashboard/meal-plan" class="btn btn-sm btn-outline-info">Back to selections</a>
                            </span>
                        </div>
                        <!-- prep/cook/total time -->
                      <% if (singleRecipe.totalTime) { %>
                        <div class="d-flex flex-column flex-md-row ">
                            <p>Prep: <%= singleRecipe.prepTime %></p>
                            <p>Cook: <%= singleRecipe.cookTime   %></p>
                            <p>Total: <%= singleRecipe.totalTime %></p>
                        </div>
                      <% } %>
                        <p><% if (singleRecipe.cuisine) {%> Cuisine: <%= singleRecipe.cuisine %> <% } %></p>
                        <p> Allergens: <%= singleRecipe.allergens != 'undefined' ? singleRecipe.allergens : 'none' %></p>                        
                    </div>      
            </div>
            <div class="row">
                <div>
                    <p><%= singleRecipe.description %></p>
                </div>
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-12 col-sm-6">
                        <h2>Ingredients</h2>
                        <% for (item of singleRecipe.ingredients) { %>
                            <p><span><%= item.quantity %></span> <%= item.name %> <span><% if (item.optional == 'yes') { %> (optional) <% } %></span><span><% item.notes %></span></p>
                        <% } %>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h2>Instructions</h2>
                        <% for (item of singleRecipe.instructions) { %>
                            <p><%= item.text %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <%- include('../partials/mealplan-footer') -%>
</body>
</html>