<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Con Sazon | All Recipes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="container m-5">
        <h1>All Recipes</h1>
        <section class="content my-5">
            <div class="row gx-5">
                <% for (let recipe of recipes) { %>
                    <div class="col-3">
                        <div>
                            <a href="/recipes/<%= recipe.path %>"><img class="img-fluid" src="<%= recipe.image %>" alt="image of recipe"></a>
                        </div>
                        <h3 data-id="<%= recipe._id %>"><%= recipe.recipeName %></h3>
                        <p><%= recipe.author %></p>
                    </div>
                <% }  %>
            </div>
        </section>
    </div>
    <%- include('../partials/footer') -%>
</body>
</html>